/* Generalx Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.about-me-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.about-me-container img {
    flex: 1;
    max-width: 49%; /* Adjust the size of the images */
    height: auto;
}

.about-me-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* A more refined font */
    color: #333; /* A softer shade of black for readability */
    font-size: 1.1em; /* Slightly larger font size */
    line-height: 1.6; /* Improved line spacing for better readability */
    text-align: justify; /* Justified text for a clean look */
    padding: 10px; /* Padding for better spacing around the text */
}

/* Optionally, you can add a hover effect to links within the about me text */
.about-me-text a:hover {
    color: #900; /* A shade of red for hover effect */
    text-decoration: underline;
}



/* Header Styles */
header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

/* Main Content Styles */
main {
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
}

section {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #900;
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Resume and Transcripts Links */
a {
    color: #900;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #000;
    color: #fff;
}

/* Responsive Design */
@media (max-width: 600px) {
    main {
        width: 95%;
    }
}
